{% extends 'base.html.twig' %}

{% block title %}
	{{ categorie.nom }}
{% endblock %}

{% block body %}
	<h1 class="display-4">{{ categorie.nom }}</h1>


	<div class="lead mb-5 border-bottom pb-4">
		{{ categorie.description }}
	</div>

	<div class="d-flex gap-2 align-items-center">
		<a href="{{ path('app_categorie_modifier', {id: categorie.id}) }}" class="btn btn-primary">
			✏️ Modifier
		</a>

		<form method="post" action="{{ path('app_categorie_supprimer', {id: categorie.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet categorie ?');" class="d-inline">
			<input type="hidden" name="_token" value="{{ csrf_token('supprimer_' ~ categorie.id) }}">
			<button type="submit" class="btn btn-danger">🗑️ Supprimer</button>
		</form>

		<a href="{{ path('app_categories') }}" class="btn btn-outline-secondary">
			← Retour à la liste
		</a>
	</div>
{% endblock %}
